{% extends 'base.html.twig' %}

{% block title %}Débuter la partie{% endblock %}

{% block body %}

    <p class="text-white">Le personnage Lucette MARTINEZ commence l'aventure Le Tombeau des Renegats!</p>

    <a href='{{path('app_play_aventure',{'idPersonnage':personnage.id,
                                        'idPartie':partie.id,
                                        'idEtape':partie.etape.id})}}' 
                                        class="btn btn-primary">Lancer</a>
 

{% endblock %}






