{% extends 'base.html.twig' %}

{% block title %}Débuter la partie{% endblock %}

{% block body %}

{{partie.id}} {{etape.id}}

<p>Le personnage Lucette MARTINEZ commence l'aventure Le Tombeau des Renegats!</p>


{% endblock %}






